@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}a{
    text-decoration: none;
    color: white;

}body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background: black;
}ol , ul{
    text-decoration: none;
}button{
    background: transparent;
    border: none;
}input{
    border: none;
}span{
    color: white;
}h1,h2,h3,h4,h5,h6{
    color: white;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 5vw;
    flex-wrap: wrap;
    margin-bottom: 35px;
    position: sticky;
}.menu-list{
    display: flex;
    gap: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-evenly;
    flex-wrap: wrap;
}.logo{
    margin-top: 37px;
}.menu{
    margin-top: 44px;
    flex-wrap: wrap;
}.menu-list li{
    transition-duration: 0.2s;
    padding: 10px 28px;
    text-align: center;
    align-items: center;
}.menu-list li:hover{
    outline: 1px solid #FA9021;
}.menu-list li:active{
    background: #FA9021;
    border-radius: 6px;
    align-items: center;
}


.about-us{
    margin-bottom: 10vw;
    padding-left: 5vw;
    flex-wrap: wrap;
    display: flex;
    gap: 16vh;
    justify-content: space-evenly;
}.left-side h5{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    margin-bottom: 38px;
}.title{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 25px;
}.left-side{
    text-align: start;
    width: 42.5vh;
}.main-text-down-title{
    color: white;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 57px;
}.button-ls{
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 40px;
    background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
    height: 48px;
    transition-duration: 0.3s;
}.button-ls:active{
    background: gray;
    outline: 1px solid orange;
}.right-side{
    position: relative;
}.switching-buttons{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    gap: 27px;
    padding: 17px 30px;
    background: #333333;
    height: 67px;
    font-weight: 500;
    font-size: 16px;
}.foots{
    width: 739px;
}



.work-with-us{
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 140px;
}.title-us{
    padding-left: 6vw;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 600; 
}.causes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}.cont-cause{
    background: #1C140F;
    border-radius: 20px;
    color: white;
    width: 450px;
    padding: 64px 37px;
    margin-bottom: 7px;
}.named{
    border-radius: 8px;
    padding: 7px 35px 6px 14px;
    width: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 19px;
}.tit{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}.main-text-us{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.25px;
}



.character{
    display: flex;
    padding-top: 113px;
    padding-left: 5vw;
    padding-right: 5vw;
    flex-wrap: wrap;
    background: #1C140F;
    margin-bottom: 148px;
    justify-content: space-evenly;
}.rights{
    padding-top: 20px;
    width: 530px;
    color: white;
    font-family: 'Poppins', sans-serif;
}.name{
    font-weight: 500;
    font-size: 16pz;
}.main-title-char{
    font-size: 28px;
    line-height: 44.1px;
    font-weight: 600;
    margin-bottom: 15px;
}.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 32.4px;
}

.our-team{
    margin-bottom: 157px;
}.persons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}.title-our{
    color: white;
    padding-left: 7vw;
    font-size: 25px;
    font-weight: 600;
}.john{
    padding: 35px 86px 30px 86px;
    background: #1C140F;
    border-radius: 20px;
    color: white;
    text-align: center;
    width: 295px;
    height: 253px;
    margin-bottom: 5px;
    margin-right: 5px;
}.john img{
    width: 120px;
    height: 120px;
    margin-bottom: -20px;

}.sur-name{
    margin-bottom: -10px;
    font-weight: 600;
    font-size: 19px;
}.job-title{
    font-weight: 300;
    font-size: 16px;
    color: #E8E8E8;
}

.stay-in-the-loop{
    color: white;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-bottom: 150px;
}.titles-first{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 32px;
}.stay-in-the-loop span{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px'
}.input-stay{
    margin-top: 74px;
    padding: 40px 50px;
    background: #1C140F;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}.title-sec{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}.text-main-stay{
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 25.5px;
}.input-form{
    height: auto;
    width: 386px;
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}.input-form-first{
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    transition-duration: 0.2s;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin-right: 100px;
    outline: 1px solid orange;
}.input-form-first:focus{
    background: #fcaa52;
    color: white;
    outline: none !important;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
}.input-btn{
    background: #DC7000;
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    transition-duration: 0.2s;
    width: 100%;
    height: 30px;
}.input-btn:active{
    background: black;
    color: wheat;
}

.input-form-first:focus + .input-btn { 
    background: pink;
    color: gray;
    outline: 1px solid #DC7000;
    animation: rotate 2s linear infinite;
    animation-name: walk-btn;
    box-shadow: 5px 3px 4px rgb(255, 125, 146);
}

@keyframes walk-btn{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.8);
    }
}


.footer{
    padding-left: 6vw;
    padding: 6vw;
}.disp-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}.first-column{
    margin-right: 3vw;
}.first-column svg{
    display: block;
    margin-bottom: 15px;
}.discript{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-wrap: wrap;
    margin-bottom: 24px;
}.author{
    font-size: 16px;
    font-weight: 400;
}.second-column span{
    display: block;
    margin-right: 144px;
    margin-bottom: 7px;
}.third-column span{
    display: block;
    text-wrap: wrap;
    line-height: 24px;
    font-size: 16px;
    margin-top: 20px;
}.fourth-column svg{
    width: 13px;
    height: 13px;
}.fourth-column{
    display: flex;
    align-items: end;
    gap: 10px;
    flex-wrap: wrap;
}

.copyright{
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid white;
    width: 100%;
}

@media (max-width: 1450px){
   body{
    overflow-x: hidden;
   }
    .left-side, .title{
        text-align: center;
    }.button-ls{
        width: 100%;
        justify-content: center;
    }
    .right-side img{
        transform: scale(0.8);
    }
    .left-side{
        margin-bottom: -150px;
    }
    .switching-buttons{
        display: none;
    }
}

@media (max-width: 855px){
    .switching-buttons{
        display: none;
    }
    .header{
        display: block;
    }.logo{
        padding-left: 43vw;
    }
}

@media (max-width: 550px){
    .right-side img{
        transform: scale(0.6);
        margin-bottom: -150px;
    }.switching-buttons{
        display: none;
    }
    .left-side{
        margin-bottom: -200px;
    }

    .character img{
        transform: scale(0.6);
    }
    .first-column{
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        text-align: center;
    }
    .second-column{
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        text-align: end;
    }
    .third-column{
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        text-align: center;
    }
    .rights{
        text-align: center;
        margin-top: -120px;
    }
    .character{
        padding-top: 0;
    }
}

@media (max-width: 450px){
    .right-side img{
        transform: scale(0.4);
        margin-bottom: -150px;
    }
    .left-side{
        margin-bottom: -250px;
    }
}

@media (max-width: 300px){
    .right-side img{
        transform: scale(0.2);
        margin-bottom: -150px;
    }
    .left-side{
        margin-bottom: -350px;
    }
}